# Default ignored files
/shelf/
/workspace.xml
/codeStyles
/inspectionProfiles
/libraries
/modules
/misc.xml
/modules.xml
/sbt.xml
/scala_compiler.xml
/scala_settings.xml
/uiDesigner.xml
/vcs.xml
/workspace.xml